# dependencies
node_modules

# cache
.temp/
temp/

# misc
.DS_Store
*.pem

# local env files
.env*.local

# include varlock
!.env.schema

# typescript
*.tsbuildinfo

# aws
cdk.out
cdk-outputs.json
cdk.context.json

# vite
dist

# logs
*.log
